
.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 100%;
    background-color: #bd4d4d;

}


.h1Three1{
    padding: 20px;
    margin-top: 20px;
    font-size: 35px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    letter-spacing: 4px;
    font-family: 'Inter', sans-serif;
    color: #151313;
    cursor: pointer;
    line-height: 1;
    -webkit-transition: all 0.2s ease;

}

.moduleLine {
    background: #0d0e0e;
    width: 100px;
    height: 1px;
    margin: 20px auto;
}

